<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	    <add key="login" value="a" />
	    <add key="password" value="b" />
		<add key="storageAddress" value=""/>
		<add key="creationDate" value=""/>
		<add key="pathToMetaInformationFiles" value="C:\\Users\i.ryzhankou\\Desktop\\git-example\\git-example\\git-example\\lab-file-storage\\lab-02\\bin\Debug\\netcoreapp3.1\\MetaInformationFiles.dat"/>
	</appSettings>
</configuration>